@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Raleway:wght@400;700&display=swap");

// Normalize

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

.section {
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}

@media screen and (max-width: 1200px) {
  .section {
    margin: 0 auto;
    padding-left: 48px;
    padding-right: 48px;
  }
}
